#the default port where the server will be running
PORT=3000

#this is where the mysql is running, default is localhost
DB_HOST="localhost"

#username for access to the database, default is root
DB_USER="root"

#password for access to the database, default is just an empty string
DB_PASSWORD=""

#name for the database to be created, default is crud_operations
DB_DATABASE="crud_operations"

#setting the connection to true will help reliability and database interations for user with the database, default is true
DB_WAITFORCONNECTIONS=true

#limiting the database conenction limit to only 10 for performance reasons and also it's a standerdised idea, default is 10
DB_CONNECTIONLIMIT=10

#limiting the database connection after all the database connections are filled, default is 0
DB_QUEUELIMIT=0

#naming the table where the data will be saved, default iis users
DB_TABLENAME="users"

#json web token secret which will be hashed in and then send to the user during login as a cookie, default array in this case but make sure to write a secret here
JWT_SECRET=""